@import '../../../assets/css/colors.scss';
@import '../../../assets/css/fonts.scss';

.notifications-bell-icon-flyout {
    z-index: 999 !important;
    width: 100% !important;
}

// This is not working.
div#notifications-bell-icon-flyout div.flyout-body {
    background-color: $light-blue !important;
}

:global(#notifications-bell-icon-flyout.flyout-overlay.right .flyout-container) {
  right: 0 !important;
}

:global(#notifications-bell-icon-flyout.flyout-overlay.close.right .flyout-container) {
  right: -28rem !important;
}

:global(#notifications-bell-icon-flyout .flyout-body) {
  padding: 1.5rem 0rem 1.5rem 1.5rem !important;
}
.tab-content-container {
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tab-content-sort-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tab-content-sort-title-typography {
    font-weight: 400;
    font-size: $font-size-14;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.empty-state-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.empty-state-typography-1 {
    font-weight: 600;
    font-size: $font-size-14;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: $neutrals-B300;
}

.empty-state-typography-2 {
    font-weight: 400;
    font-size: $font-size-12;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: $neutrals-B300;
}

.icon-background {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 450px;
    border: 0.9px solid $secondary-blue-100-color;
    background: $feedback-colors-informational-bg;
}

.notification-content-container {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    overflow-y: auto;
    max-height: 100%;
    display: flex;
}

.notification-content-container::-webkit-scrollbar {
    border-radius: 0;
}

.toast-container-notification-panel {
    position: fixed !important;
    top: 2rem !important;
    right: 2rem !important;
    z-index: 9999 !important;
}

.action-status-updated-title {
    font-weight: 400;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0px;
    vertical-align: middle;
    color: $neutrals-B600;

}

.action-status-update-item {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    opacity: 1;
}

.action-status-update-subtitle{
    font-weight: 400;
    font-style: Regular;
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 0px;
    vertical-align: middle;
    color: $neutrals-B200;
    width: 100%;
}

.notification-flyout-header-container {
    padding: 0rem 1.25rem 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-actions-popover-items {
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    text-align: center;
    width: 10rem;
    padding: 0.625rem 0.5rem 0.625rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'kenvue-Sans', sans-serif;
}

.notification-actions-popover-items-disabled {
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    text-align: center;
    width: 10rem;
    padding: 0.625rem 0.5rem 0.625rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'kenvue-Sans', sans-serif;
    color: $neutrals-B60;
}

.notification-disabled {
    background-color: $feedback-colors-informational-bg;
    border: 1px solid $alert-icon-color;
}

.notification-disabled svg {
    color: $alert-icon-color;
}

.notification-disabled-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;          
  padding: 0.75rem 1rem; 
  font-size: 0.875rem;   
  color: $notification-disabled-message-color;
  border-top: 0.0625rem solid $notification-disabled-message-border-color; 
}