@import '../../../assets/css/colors.scss';

.feedback-flyout {
    top: 0;
    width: 420px;
    background-color: $white-color;
    border: 1px solid $neutrals-B10;
    box-shadow: 0 4px 12px $box-shadow-black-color;
    border-radius: 8px;
    z-index: 1000;
    font-family: inherit;
    height: 100vw;
    display: flex;
    justify-content: space-between;
    padding-top: 8%
}

.feedback-closeButton {
    align-items: end;
    background: none;
    border: 1px solid $neutrals-B40 ;
    border-radius: 20px ;
    color: $neutrals-B100;
    font-size: 20px;
    cursor: pointer;
    margin-top: 6%
}

.feedback-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.feedback-content-header {
    border-bottom: 1px solid $neutrals-B40;
    width: 420;
    height: 4% !important;
    gap: 10px;
    border-bottom-width: 1px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 35px;
}

.feedback-content-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: $neutrals-B800 !important;
    margin-bottom: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-content-header-title-text {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: $neutrals-B800 !important;
    margin-bottom: 0px !important;
}

.feedback-content-header-subtitle {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: $neutrals-B200 !important;
}

.feedback-content-form {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
    height: calc(100vh - 270px);
}

.feedback-content-form-labels {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: $neutrals-B500;
}

.form-required-fields {
    color: $alert-icon-color;
}

.feedback-stars {
    width: 136px !important;
    height: 24px !important;
    display: flex;
    gap: 4px;
    font-size: 20px;
    cursor: pointer;

    .feedback-filledStar {
        color: $secondary-yellow-color;
        width: 20.85161018371582px;
        height: 19.97266960144043px;
        top: 1.63px;
        left: 1.57px;

    }

    .feedback-emptyStar {
        color: $neutrals-B50;
        width: 20px;
        height: 19px;
        top: 1.63px;
        left: 1.57px;

    }
}

.feedback-content-form-text-area-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.feedback-charCount {
    font-size: 12px;
    color: $neutrals-B100;
    text-align: left;
}

.feedback-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="checkbox"] {
        transform: scale(1.1);
    }

}

.feedback-checkbox-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: $neutrals-B800;

}

.feedback-actions {
    display: flex;
    gap: 12px;
    border-top: 1px solid $neutrals-B40 !important;
    width: 370px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 24px !important;
    padding-right: 24px !important;
    height: 58px !important;
}

.feedback-actions-cancel {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: $neutrals-B800;
    background-color: $white-color;
    border: none;
    cursor: pointer;
}

.feedback-actions-save {
    width: 82px;
    height: 40px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 8px;
    border-radius: 20px;
    background-color: $primary-green-500-color;
    border: none;
    color: $neutrals-B800;
    align-self: center;

    &:disabled {
        background-color: $neutrals-B10;
        color: $neutrals-B100;
        cursor: none;
    }

}