@import '../../../assets/css/colors.scss';
@import '../../../assets/css/common.scss';
@import '../../../assets/css/fonts.scss';

.header {
    width: 100%;
    background: $light-blue;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: $neutrals-B800;
}

.flyout-container-main {    
    z-index: 1000;
    position: absolute;
    width: 400px;
    height: 100vh;
    top: 7.5vh;
    margin-left: 56px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flyout-container {
    width: 100%;
}

.card-container {
    width: 100%;
}

.cards {
    width: 100% !important;
    margin: 0;
}
.cards span {
    font-weight: bold !important;
    color: $neutrals-B600;
}

.accordion {
    width: 100%;
}
.no-card {
    :global(.content) {
        min-height: fit-content !important;
    }
}

.accordion-container {
    margin-top: 20px;
}

.custom-action-container {
    width: 100%;
}

.custom-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-actions-circle {
    border-radius: 50%;
    background-color: $white-color;
    width: 20px;
    height: 20px;
    color: $neutrals-B70;
    font-size: 12px;
    border: 1px solid $neutrals-B40;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
    font-weight: 400;
    font-size: 12px;
    color: $neutrals-B300;
}

.button {
    cursor: pointer;
}

.vertical-divider {
    border-top: 1px solid $neutrals-B40;
    margin: 1rem 0;
}

.cards .title {
    font-weight: bold;
    color: $neutrals-B300;
}

.cards .description {
    font-weight: normal;
    color: $neutrals-B300 !important;
}
.am-empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    height: 70vh;
}

.search-box-container {
    right: 0px !important;
}

.search-results-header {
    padding-bottom: 10px;
}

.initial-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchInput {
    background-color: white;
}

.documentation-access-typography {
    font-weight: 400;
    font-size: $font-size-12;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: underline;
    color: $primary-green-700-color !important;
}


