@import '../../../assets/css/colors.scss';
@import '../../../assets/css/common.scss';
@import '../../../assets/css/fonts.scss';

.filterCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}

.filterContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}
