 @import '../../../assets/css/colors.scss';
@import '../../../assets/css/common.scss';
@import '../../../assets/css/fonts.scss';

.card-children-content-text {
    text-align: center;
    color: $neutrals-B800;
    font-weight: 600;
    font-size: 0.875rem; // reduced from 1rem
    line-height: 1.2;
}

.card-children-content-label {
    text-align: center;
    color: $neutrals-B800;
    font-weight: 400;
    margin-top: 0.4rem;  
    display: inline-block;
    font-size: 0.75rem; 
    line-height: 1.2;
}
.todo-card-children {
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;  
    padding: 1rem;
}

.card-position-relative {
    position: relative;
    width: 56%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
}

.card-position-absolute {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 80%;
    padding-top: 67px;
}

.card-children-content-text {
    color: $neutrals-B800;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.2;
}

.card-children-content-label {
    color: $neutrals-B800;
    font-weight: 400;
    margin-top: 0.4rem;
    font-size: 0.75rem;
    line-height: 1.2;
}
