@import '../../../assets/css/colors.scss';
@import '../../../assets/css/common.scss';

.roleId {
    font-size: 10px;
    color: $neutrals-B300;
}

.table-container {
    position: relative;
    min-height: 65vh;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 50;
}

.toolNavigationButton {
    background-color: transparent;
    border-width: 0rem;
    width: 100%;
    cursor:pointer;
}

.content-disabled {
    opacity: 1;
    pointer-events: none;
}

.am-empty-state {
    min-height: 65vh;
}

.am-empty-state-title {
    color: $neutrals-B300;
}

.am-empty-state-description {
    color: $neutrals-B200;

    .am-empty-state-text {
        color: $primary-green-700-color;
    }
}

.outer-container {
    z-index: 999;
    position: absolute;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 32px;
}

.flyout-labels {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: $neutrals-B800;
}

.flyout-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.flyout-description {
    font-weight: 400;
    color: $neutrals-B200;
}

.deselectallbtn {
    border: 1px solid $neutrals-B60;
    padding: 8px 20px 8px 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.deletebtn {
    border-top: 1px solid $neutrals-B60;
    border-bottom: 1px solid $neutrals-B60;
    padding: 8px 20px 8px 20px;
}

.editselectedbtn {
    border: 1px solid $neutrals-B60;
    padding: 8px 20px 8px 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.custom-action-container {    
    gap: 260px;
    font-weight: 600;
}

.role {
    position: relative;
    display: inline-block;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-family: 'Kenvue-sans',sans-serif !important;
}
.custom-tooltip {
    font-family: 'Kenvue-sans',sans-serif !important;
    color: $white-color;
}

.role:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
