@import '../../../assets/css/colors.scss';

.greetingsView {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.greetingsGuestView {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.kaiTyping {
  width: 2rem
}

.actionIconContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: 'wrap';
    margin-bottom: 0.5rem;
    margin-top: 0.5rem
}

.contentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  text-align: center;
}

.logoWrapper {
  width: 6.4rem;
  height: 6.4rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img,
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.heading {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0px;
  color: $neutrals-B800;
}

.description {
  //   margin:
  //     1.6rem 0 0;
  //   max-width: 56rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: $neutrals-B400;
  letter-spacing: 0px;
}

.description span {
  color: $primary-green-500-color;
}

.promptList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}




.bottomSection {
  display: flex;
  justify-content: center;
  bottom: 1rem;
  margin-top: auto;
}

.promptGuide {
  cursor: pointer;
  height: 2rem;
  color: $neutrals-B800;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border-radius: 1rem;
  border: 0.1rem solid $primary-green-500-color;
  font-size: 0.875rem;
  background-color: $white-color;
  font-weight: 400;
  letter-spacing: 0px;
  margin-top: 4rem;
  transition:
    background 0.2s ease,
    transform 0.2s ease !important;

  &:hover {
    background: $neutrals-B800;
    color: $white-color;
  }

  &:active {
    transform: scale(0.98);
  }
}

.suggestionMessageContainer {
  cursor: pointer;
  margin-bottom: 0.6rem;
  font-family: 'kenvue-sans';
  font-size: 0.875rem;
  line-height: 1.5;
  height: 2rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border: 0.1rem solid $neutrals-B40;
  border-radius: 0.4rem;
  color: $neutrals-B500;
  background-color: $white-color;
  transition:
    background 0.2s ease,
    border-color 0.2s ease;

  &:hover {
    background: $primary-green-50-color;
    border-color: $primary-green-200-color;
  }
}