@import '../../../assets/css/colors.scss';

.add-new-tag-flyout-outer-container {
    z-index: 999;
    position: absolute;
}

.add-new-tag-flyout {
    z-index: 999 !important;
    width: 100% !important;
}

.new-tag-flyout-container {
    width: 100%;
    flex-direction: column;
}

.new-tag-category-dropdown {
    width: 100%;
}

.fieldGroup {
    margin-top: 1rem;
    width: 370px;
}

.infoRow {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
}

.error {
    color: $feedback-error-color-text-and-icon;
    font-size: 12px;
    margin-top: 4px;
}
.toast-configuration {
    position: fixed !important;
    top: 50px;
}
