@import '../../../assets/css/colors.scss';
@import '../../../assets/css/common.scss';
@import '../../../assets/css/fonts.scss';

.outer-container {
    margin-right: 5;
}

.searchInput {
    width: 100%;
    margin-bottom: 10%;
}

.content-container {
    width: 100%;
}

.cards-flyout {
    width: 100% !important;
}

.cards {
    width: 80%;
}

.admin-console-container {
    height: 64px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border-bottom: 0.0625rem solid $neutrals-B30;
    box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.06);
    background-color: $primary-green-500-color;
    justify-content: center;
}

.admin-console-header-description {
    color: $neutrals-B200;
}

.card-section {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border-bottom: 0.0625rem solid $neutrals-B30;
    box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.06);
    background-color: $white-color;
}

.card-section-title {
    color: $neutrals-B300;
}

.admin-console-header-title {
    font-size: $font-size-24;
}

.searchInput-performanceM-page {
    width: 40% !important;
    justify-content: flex-start;
    display: flex;
    background-color: $white-color;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    width: 450px !important; 
    margin-bottom: 10px;
}

.flyout-front {
    margin-left: 80px;
    margin-top: 60px;
    z-index: 1000;
}
