@import '../../../assets/css/colors.scss';

.custom-button {
    display: inline-flex;
    align-items: center;
    background-color: $white-color !important;
    color: $neutrals-B800 !important;
    border: 1px solid;
    border-color: $neutrals-B60;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'kenvue-sans',sans-serif;
    transition: background-color 0.3s ease;

    .button-icon {
        margin-right: 10px;
        fill: black;
    }
}

.custom-button:hover {
    background-color: $primary-green-color !important;
}

/* Size variations */
.custom-button-small {
    padding: 6px 12px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    background-color: $white-color !important;
    color: $neutrals-B800 !important;
    border: 1px solid;
    border-color: $neutrals-B60;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'kenvue-sans',sans-serif !important;
    transition: background-color 0.3s ease;
    white-space: nowrap;

    .button-icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: black;
    }
}

.custom-button-medium {
    padding: 8px 17px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    background-color: $white-color !important;
    color: $neutrals-B800 !important;
    border: 1px solid;
    border-color: $neutrals-B60;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'kenvue-sans', sans-serif !important;
    transition: background-color 0.3s ease;
    white-space: nowrap;

    .button-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: black;
    }
}

.custom-button-large {
    padding: 14px 28px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    background-color: $primary-green-color !important;
    color: black !important;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'kenvue-sans', sans-serif !important;
    transition: background-color 0.3s ease;

    .button-icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        fill: black;
    }
}
