.role {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-family: 'Kenvue-sans', sans-serif !important;
}

.roleText {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.notification {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 18px;
    font-family: 'Kenvue-sans', sans-serif !important;
}

.notificationText {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

