@import '../../../assets/css/colors.scss';
@import '../../../assets/css/common.scss';

.roleId {
    font-size: 10px;
    color: $neutrals-B300;
}

.table-container {
    position: relative;
    min-height: 65vh;
}

.table-comp,
.table-comp .table-container {
  overflow: visible !important;
}

.roles-row {
    display: flex;
    justify-content:space-between;
}

.geo-row {
    display: flex;
    margin-left: 16rem;
}

.forum-table tr.expanded-row td.first-column {
    background-color: red;
    margin-left: 16rem;
    height: 100rem;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 50;
}

.content-disabled {
    opacity: 1;
    pointer-events: none;
}

.rm-empty-state {
    min-height: 65vh;
}

.rm-empty-state-title {
    color: $neutrals-B300;
}

.rm-empty-state-description {
    color: $neutrals-B200;
}

.role {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-family: 'Kenvue-sans', sans-serif !important;
}
.custom-tooltip {
    font-family: 'Kenvue-sans', sans-serif !important;
    color: $white-color;
}

.role:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.switch {
    background-color: $neutrals-B40;
    transition: background-color 0.3s ease;
}

.active {
    background-color: $primary-green-400-color !important;
}

.iconCircle {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 0.5px solid $neutrals-B60;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ellipsisText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.forumOwnerText {
    color: #3B3B3B;
    font-size: 12px;
    font-weight: 400;
}