<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
    <rewrite>
        <rules>
            <!-- Proxy Azure blob storage through same origin to avoid browser CORS when embedding images in PDFs -->
            <rule name="Blob Storage Proxy" stopProcessing="true">
                <match url="^blob-proxy/([^/]+)/(.*)" />
                <action type="Rewrite" url="https://{R:1}/{R:2}" />
            </rule>
            <!-- This rule handles all requests by serving the index.html, useful for SPA client-side routing -->
            <rule name="ReactRouter Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.html" />
            </rule>
        </rules>
    </rewrite>
    <staticContent>
        <!-- MimeMap for correct content types -->
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".js" mimeType="text/javascript" />
        <mimeMap fileExtension=".html" mimeType="text/html" />
        <mimeMap fileExtension=".css" mimeType="text/css" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        <mimeMap fileExtension=".woff" mimeType="font/woff" />
        <mimeMap fileExtension=".otf" mimeType="font/otf" />
    </staticContent>
    <httpProtocol>
        <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="Add CORS headers" preCondition="IsCorsRequest">
          <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".*" />
          <action type="Rewrite" value="{HTTP_ORIGIN}" />
        </rule>
        <preConditions>
          <preCondition name="IsCorsRequest">
            <add input="{HTTP_ORIGIN}" pattern="^https?://(localhost(:[0-9]+)?|kenvue\.com)$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
</system.webServer>
</configuration>