@import '../../../assets/css/colors.scss';

.rm-container {
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid $neutrals-B30;
    background-color: $white-color;
}

.rm-card-title {
    color: $neutrals-B800;
}

.rm-card-description {
    color: $neutrals-B200;
}


.rm-empty-state {
    min-height: 65vh;
}

.rm-empty-state-title {
    color: $neutrals-B300;
}

.rm-empty-state-description {
    color: $neutrals-B200;
}

.search-box {
    width: 400px;
    justify-items: right;
    z-index: 9999;
}

.search-box-container{
    right: 0px !important;
}
.overlay {
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white-color;
  z-index:350;
}

.table-inner {
  position: relative;
  min-height: 25rem; 
  background-color: $white-color;
}

.description-text{
    color: $neutrals-B300;
}