@import '../../../assets/css/colors.scss';
@import '../../../assets/css/common.scss';
@import '../../../assets/css/fonts.scss';

.header {
    width: 100%;
    background: $light-blue;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: $neutrals-B800;
}

.flyout-container-main {
    z-index: 1000;
    position: absolute;
    width: 400px;
    height: 100vh;
    top: 7.5vh;
    margin-left: 56px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flyout-container-secondmain {
    z-index: 1000;
    position: absolute;
    width: 400px;
    height: 100vh;
    top: 7.5vh;
    margin-left: calc(56px + 420px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flyout-container {
    width: 100%;
}

.card-container {
    width: 100%;
}

.cards {
    width: 100% !important;
    margin: 0;
}
.cards span {
    font-weight: bold !important;
    color: $neutrals-B600;
}

.accordion {
    width: 100%;
}
.no-card {
    :global(.content) {
        min-height: fit-content !important;
    }
}

.accordion-container {
    margin-top: 20px;
}

.custom-action-container {
    width: 100%;
}

.custom-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-actions-circle {
    border-radius: 50%;
    background-color: $white-color;
    width: 20px;
    height: 20px;
    color: $neutrals-B70;
    font-size: 12px;
    border: 1px solid $neutrals-B40;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
    font-weight: 400;
    font-size: 12px;
    color: $neutrals-B300;
}

.button {
    cursor: pointer;
    align-items: center;
    display: flex;
}

.vertical-divider {
    border-top: 1px solid $neutrals-B40;
    margin: 1rem 0;
}

.cards .title {
    font-weight: bold;
    color: $neutrals-B300;
}

.cards .description {
    font-weight: normal;
    color: $neutrals-B300 !important;
}
.am-empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    height: 70vh;
}

.search-box-container {
    right: 0px !important;
}

.search-results-header {
    padding-bottom: 10px;
}

.initial-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchInput {
    background-color: white;
}

.documentation-access-typography {
    font-weight: 400;
    font-size: $font-size-12;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: underline;
    color: $primary-green-700-color !important;
}

.content-container {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.question-mark-button {
    border: 1px solid grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: $white-color;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'kenvue-sans' !important;
    justify-content: center;
}

.question-mark-button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    border: none;
}

.card-analytics {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 24rem !important;
}

.analyticscolor {
    color: $neutrals-B300;
}

.empty-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.empty-container-image {
    background-image: url('../../../assets/images/digital-worker-empty-state.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.empty-container-text {
    font-family: 'Kenvue Sans';
    line-height: 20px;
    text-align: center;
    color: $neutrals-B300;
    font-size: 12px;
    font-weight: 400;
}

.empty-container-heading {
    font-weight: 600;
}

.empty-container-link {
  background-color: rgb(244, 246, 247) !important;
  :hover{
     background-color: rgb(244, 246, 247);
  }
}

