@import '../../../../assets/css/colors.scss';
.calendar-radio-group{
    display: flex;
    flex-direction: 'row';
    gap: 1rem;   
    margin-top: 0.5rem;     
}


.trigger-freq-message{    
font-weight: 400;
font-style: Regular;
font-size: 0.9rem;
letter-spacing: 0px;

}


.daySelector {
  display: flex;
  gap: 12px;
}

.dayCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;  
  cursor: pointer;
  background-color: #E8EBEF66; // Light gray for inactive
  color: $black-color;
  transition: all 0.3s ease;
  font-weight: 400;

  &:hover {
    background-color: #e0e0e0;
  }
}

.active {
  background-color: $primary-green-500-color; // Teal for active
  font-weight: 600;
}


.test-modal{
  overflow: visible !important;
}


.trigger-frequency-calendar{
  z-index: 10000;
}