/* Main Color Pallate*/
$primary-green-color: #00b097;
$secondary-yellow-color: #ffb000;
$secondary-purple-color: #d3bdf2;
$secondary-coral-color: #ff6b6b;

/* Primary Green Color Shades */
$primary-green-50-color: #e6f7f5;
$primary-green-100-color: #b0e7df;
$primary-green-200-color: #8adbcf;
$primary-green-300-color: #54cab9;
$primary-green-400-color: #33c0ac;
$primary-green-500-color: #00b097;
$primary-green-600-color: #00a089;
$primary-green-650-color: #57dcc9;
$primary-green-700-color: #007d6b;
$primary-green-800-color: #006153;
$primary-green-900-color: #004a3f;

/* Secondary Yellow Color Shades */
$secondary-coral-20-color: #fffcf5;
$secondary-yellow-50-color: #fff7e6;
$secondary-yellow-100-color: #ffe7b0;
$secondary-yellow-200-color: #ffdb8a;
$secondary-yellow-300-color: #ffca54;
$secondary-yellow-500-color: #edb600;
$secondary-yellow-400-color: #ffc033;
$secondary-yellow-600-color: #e8a000;
$secondary-yellow-700-color: #b57d00;
$secondary-yellow-800-color: #b57d00;
$secondary-yellow-900-color: #6b4a00;

/* Secondary Purple Color Shades */
$secondary-purple-50-color: #fbf8fe;
$secondary-purple-100-color: #f1ebfb;
$secondary-purple-400-color: #dccaf5;
$secondary-purple-800-color: #746885;

/* Secondary Coral Color Shades */
$secondary-coral-50-color: #fff0f0;
$secondary-coral-100-color: #ffd1d1;
$secondary-coral-200-color: #ffbbbb;
$secondary-coral-300-color: #ff9c9c;
$secondary-coral-400-color: #ff8989;
$secondary-coral-600-color: #e86161;
$secondary-coral-700-color: #b54c4c;
$secondary-coral-800-color: #8c3b3b;
$secondary-coral-900-color: #6b2d2d;

/* Secondary Blue color shades */
$secondary-blue-100-color: #c1d4e7;
$secondary-blue-200-color: #a3bfdb;
$secondary-blue-300-color: #79a2cb;
$secondary-blue-400-color: #4a9de6;

/* Feedback Colors */
$feedback-success-color: #25c076;
$feedback-warning-color: #ffca1a;
$feedback-error-color: #eb4345;
$feedback-error-color-text-and-icon: #f42f2f;
$feedback-background-color: #fde5e5;

/* Graph Colors */
$graph-green-color: #019881;
$graph-green-2-color: #74c5bb;
$graph-green-3-color: #bfe6df;
$graph-green-4-color: #f8fffe;

$graph-blue-color: #3774b1;
$graph-blue-2-color: #86acd2;
$graph-blue-3-color: #cddfec;
$graph-blue-4-color: #ebf1f7;
$graph-red-Coral: #f7e3e0;

/* Neutral Colors */
$black-color: #000000;
$white-color: #ffffff;
$neutrals-B10: #fafafa;
$neutrals-B20: #f5f5f5;
$neutrals-B30: #ebebeb;
$neutrals-B40: #dedede;
$neutrals-B70: #a3a3a3;
$neutrals-B80: #949494;
$neutrals-B50: #bfbfbf;
$neutrals-B60: #b0b0b0;
$neutrals-B90: #858585;
$neutrals-B100: #757575;
$neutrals-B200: #666666;
$neutrals-B300: #575757;
$neutrals-B400: #4a4a4a;
$neutrals-B500: #3b3b3b;
$neutrals-B600: #2e2e2e;
$neutrals-B800: #0d0d0d;
$neutrals-B900: #000;
$neutrals-B6060: #060606;

/* Additional Color */
$white-smoke: #f9f9f9;
$light-blue: #f4f6f7;
$background-color-light-green: #f3faf9;
$feedback-color-coral-error-bg: #fde5e5;
$feedback-color-yellow-error-bg: #fdf8e5;
$shadow-color: #0000001e;

// Object Colors
$box-shadow-black-color: #0000000f;
$background-color-white-gradient: #ffffffb2;
$background-color-grey-gradient: #ffffff33;
$light-blue-1: #eaf0f4;

//Avatar Colors
$avatar-background-color: #fbded8;
$avatar-title-color: #7d392c;

$feedback-colors-informational-bg: #ecf3fe;
$feedback-colors-information: #428bf1;

// notification card
$warning-icon-color: #ad8500;
$alert-icon-color: #f42f2f;
$notification-icon-color: #428bf1;

// border color
$dash-border-color: #ef7171;

$notification-disabled-message-color: #6b6b6b;
$notification-disabled-message-border-color: #e6e6e6;

$knowledge-hub-leftside-flyout-border-color: #e5e7eb;
$table-subrow-background-color: #f5f8fb;

$feedback-success-stroke: #6CC24A;
$feedback-success-background: #F0F9ED
