@use './colors.scss' as *;


.ql-toolbar {
    background-color: $neutrals-B30;
    border: none;
    font-family: 'kenvue-sans',sans-serif !important;

    // === Toolbar Buttons ===
    button {
        transition: background-color 0.2s ease, color 0.2s ease;

        .ql-stroke {
            stroke: currentColor !important;
        }

        &:hover,
        &:focus {
            color: $primary-green-300-color !important;

            .ql-stroke {
                stroke: $primary-green-300-color !important;
            }

            .ql-fill {
                fill: $primary-green-300-color !important;
            }
        }

        &.ql-active {
            background-color: $neutrals-B30 !important;
            color: $primary-green-300-color !important;

            .ql-stroke {
                stroke: $primary-green-300-color !important;
            }

            .ql-fill {
                fill: $primary-green-300-color !important;
            }
        }
    }


    // === Picker Dropdowns ===
    .ql-picker {
        .ql-picker-label {
            transition: background-color 0.2s ease, color 0.2s ease;
            color: $neutrals-B500;

            &:hover,
            &:focus {
                color: $primary-green-300-color !important;
            }

            .ql-stroke {
                stroke: currentColor !important;
            }

            .ql-fill {
                fill: currentColor !important;
            }

            &.ql-active {
                color: $primary-green-300-color;
            }
        }

        .ql-picker-options {            
            color: $neutrals-B800;
            border: 1px solid $neutrals-B30;
            border-radius: 4px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

            .ql-picker-item {
                padding: 5px 10px;
                color: $neutrals-B800;
                cursor: pointer;

                &:hover {
                    background-color: $neutrals-B30;
                    color: $primary-green-300-color;
                }

                &.ql-active {
                    color: $primary-green-300-color;
                }


            }
        }

    }
}

.ql-container {
    min-height: 15rem;
    font-family: 'kenvue-sans',sans-serif;
    color: $neutrals-B800;
}

.ql-editor {
    max-height: 21rem;
    min-height: 18rem;    
    overflow-y: auto;
    color: $neutrals-B800 !important;

}