@import '../../../assets/css/colors.scss';

.quick-link-widget-children {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.quick-link-widget-typography {
    color: $neutrals-B800;
}

.quick-link-widget-card-children-col {
    display: flex;
    align-items: center;
    gap: 8px;
}
