@import '../../../assets/css/colors.scss';
@import '../../../assets/css/fonts.scss';
.role-selection-flyout {
    :global(.flyout-body) {
        padding: 0 !important;
    }
}

.search-input {
    width: 100% !important;
    height: 60px;
    border-radius: 0;
    border-width: 0 0 0.0625rem 0;
}

.search-input-forum {
    width: 100% !important;
    height: 60px;
    border-radius: 0;
    border-width: 0;
    border-style: hidden;
}

.flyout-bod1y {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.dropdown-wrapper {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    :global(.dropdown-component) {
        max-width: 250px;
    }
    :global(.inputfield-text-container) {
        max-width: 20px;
    }
    :global(.inputfield-icon-container) {
        display: none;
    }
}

.checkbox-list {
    overflow-y: auto;
    flex: 1;
    width: 100%;
    max-height: calc(100vh - 300px);
}

.checkbox-row {
    padding: 4px 0;
    width: 100%;
}

.checkbox-label {
    font-weight: 500;
}

.checkbox-sub-label {
    font-size: 12px;
    color: $neutrals-B300;
}

.checkbox-counter {
    margin-left: 8px;
}

.loading-state {
    padding: 8px 0;
    color: $neutrals-B300;
    font-size: 14px;
}

.role-selection-flyout {
    z-index: 600 !important;
}
.users-flyout {
    z-index: 600 !important;
}
.role-flyout {
    z-index: 600 !important;
}
