@import '../../../assets/css/fonts.scss';
@import '../../../assets/css/colors.scss';
 
.user-profile-settings-approval-card {
    margin-top: 1.5rem;
}
 
.rm-card-description{
    color:$neutrals-B200;
}
.description-text{
    color:$neutrals-B200;
}
 
.table-container {
    width: 100%;
}
 
.empty-approval-state {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120px;
    text-align: center;
}
 