@import '../../../assets/css/colors.scss';
@import '../../../assets/css/common.scss';

.container {
    display: flex;
    width: 100%;
    border: 1px solid $neutrals-B30;
    padding: 8px 16px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterLabel {
    color: $neutrals-B200;
}

.filterReset {
    color: $primary-green-700-color;
    cursor: pointer;
}
