.progress-circle {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));

    width: 100%;
    max-width: 270px;
    height: auto;
    position: relative;
}

.progress-circle-bg {
    fill: none;
    stroke: #e6e6e6; /* Gray background */
}

.progress-circle-fg {
    transition: stroke-dashoffset 0.6s ease-in-out;
}

.percentage-font {
    fill: black;
    font-family: 'Kenvue-sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
