@import '../../assets/css/colors.scss';

.af-container {
    position: relative;
    background-color: $white-color;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid $neutrals-B30;
    overflow: hidden;
    z-index: 0; // Lower than header
    isolation: isolate;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
}

.report-empty-state-title {
    text-align: center;
    color: $neutrals-B500;
    font-weight: 400;
    margin-top: 0.6rem;
}
