@import '../../assets/css/colors.scss';

.card-children-content-text {
    text-align: center;
    color: $neutrals-B800;
    font-weight: 600;
    font-size: 1.25rem;
}

.card-children-content-label{
    text-align: center;
    color: $neutrals-B500;
    font-weight: 400;
    margin-top: 0.6rem;
    display: inline-block;
}

.todo-card-children {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.card-position-relative{
    position: relative;
}

.card-position-absolute{
    position: absolute; 
    bottom: 19%; 
    left: 26%;
}
