@use './colors.scss' as *;


.impactInputGrpKpiDdl.ant-select {
    width: 42%;

    .ant-select-selector {
        border-radius: 0px !important;
        border-top-left-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans', sans-serif;
        font-size: 0.8rem;

        &:hover {
            border-color: $secondary-blue-300-color !important;
        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans', sans-serif;
        font-size: 0.8rem;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $black-color;
        font-weight: 500;
    }
}


.impactInputGrpKpiTrendDdl.ant-select {
    width: 8%;

    .ant-select-selector {
        border-radius: 0px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;

        &:hover {
            border-color: $secondary-blue-300-color !important;
        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }
}


//Notification rules ddls

.noti-rule-issueConditioTypeDddl.ant-select {
    width: 95%;

    .ant-select-selector {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;

        &:hover {
            border-color: $secondary-blue-300-color !important;
        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }
}


.noti-rule-issue-kpi-name-ddl.ant-select {
    min-width: 50% !important;    
    max-width: 50px !important;

    .ant-select-selector {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;
        border-top: none !important;

        &:hover {
            border-color: $secondary-blue-300-color !important;
            border-top: 1px solid $secondary-blue-300-color !important;

        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
        border-top: 1px solid $secondary-blue-300-color !important;

    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }
}


.noti-rule-issue-kpi-operator.ant-select {
    min-width: 25%;

    .ant-select-selector {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;
        border-top: none !important;

        &:hover {
            border-color: $secondary-blue-300-color !important;
            border-top: 1px solid $secondary-blue-300-color !important;

        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
        border-top: 1px solid $secondary-blue-300-color !important;

    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
        max-height: 6.5rem;
        overflow-y: auto;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }
}


.noti-rule-issue-priority-is-ddl.ant-select {
    width: 100%;

    .ant-select-selector {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;
        border-top: none !important;

        &:hover {
            border-color: $secondary-blue-300-color !important;
            border-top: 1px solid $secondary-blue-300-color !important;
        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
        border-top: 1px solid $secondary-blue-300-color !important;

    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }
}



.noti-rule-issue-kpi-type-operator.ant-select {
    min-width: 30% !important;
    max-width: 30% !important;

    .ant-select-selector {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;
        border-top: none !important;

        &:hover {
            border-color: $secondary-blue-300-color !important;
            border-top: 1px solid $secondary-blue-300-color !important;

        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
        border-top: 1px solid $secondary-blue-300-color !important;
    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
        max-height: 6.5rem;
        overflow-y: auto;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }
}




.add-Resolution-Type-Drp.ant-select {
    width: 7%;
    margin-top: 1.5% !important;

    .ant-select-selector {

        border-radius: 0.5rem 0rem 0em 0.5rem !important;

        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;

        &:hover {
            border-color: $secondary-blue-300-color !important;
        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }
}



.general-detail-issue-owner {
    width: 100%;

    .ant-space {
        width: 100% !important;
    }

    .ant-space-item {
        width: 100% !important;
    }

    .ant-space-compact {
        width: inherit !important;
    }
}

.notification-card-container {
    margin: 2% !important;
    margin-right: 4% !important;

    .ant-card-body {
        max-width: 600px !important;
        width: auto !important;
        border-radius: 10px;
        box-shadow: 0 2px 6px $box-shadow-black-color;
        padding: 12px !important;
        height: auto !important;
        font-family: 'kenvue-Sans',sans-serif;

    }

    .notification-card-header-action-buttons {
        display: flex;
        align-items: flex-start;
        width: 10% !important;
        justify-content: space-between;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;        
        gap: 8px;
    }

    &:hover {
        .notification-card-header-action-buttons {
            opacity: 1;
            pointer-events: auto;
        }
    }

}


.notification-card-body-text {
    height: auto !important;
    margin-bottom: 0.5%;
    width: auto !important;
    color: $neutrals-B200 !important;
    font-size: 10px !important;
    font-weight: 400;
    line-height: 16px !important;

}

.notification-card-body-current-user-name {
    color: $primary-green-600-color;
}

.iso-card-body-secondary-s2-divider {
    .ant-divider-horizontal {
        color: $neutrals-B40;
        border-width: 3px !important;
        margin: 0px !important;
    }

}

.action-comment-input-field {
    margin-bottom: 5% !important;

    .action-comment-input-field__input {
        outline: none;
        width: 100% !important;
        border: 1px solid;
        border-radius: 0.25rem;
        border-color: $neutrals-B40;
        height: 3.5rem !important;
        line-height: 1.5714285714285714;
        color: $neutrals-B800;
        position: absolute;
    }

    .mentions__input:hover {
        border-color: $secondary-blue-200-color !important;
    }

    .mentions__input:focus-visible {
        outline: $secondary-blue-200-color !important;
    }


    .action-comment-input-field__input:hover {
        border-color: $secondary-blue-200-color !important;
    }

    .action-comment-input-field__highlighter:focus-visible {
        outline: $secondary-blue-200-color !important;
    }

    .action-comment-input-field__suggestions {
        height: fit-content !important;
        position: relative !important;
        width: fit-content !important;
        color: $neutrals-B800 !important;
        font-weight: 500 !important;
        border-radius: 0.5rem !important;
        font-family: 'kenvue-Sans', sans-serif !important;
        font-size: 0.8rem !important;
        box-shadow: 0 6px 16px 0 $box-shadow-black-color, 0 3px 6px -4px $box-shadow-black-color, 0 9px 28px 8px $box-shadow-black-color;
    }

    .action-comment-input-field__suggestions__item {
        border-radius: 0.5rem 0rem 0em 0.5rem !important;
        font-family: 'kenvue-Sans', sans-serif !important;
        position: relative !important;
        display: block !important;
        min-height: 1rem !important;
        padding: 0.3rem 0.5rem !important;
        color: $neutrals-B800 !important;
        font-weight: normal !important;
        font-size: 0.9rem !important;
        line-height: 1.5714285714285714 !important;
        box-sizing: border-box !important;
        cursor: pointer !important;
        transition: background 0.3s ease !important;
    }

    .action-comment-input-field__suggestions__item:hover {
        background-color: $primary-green-50-color !important;
    }

    .action-comment-user-name {
        color: $neutrals-B800;
    }

    .action-comment-user-emailId {
        color: $neutrals-B100 !important;
    }
}




.role-notification-card-body-text {
    color: $neutrals-B600 !important;
    font-size: 0.75rem !important;
    font-weight: 400;
    line-height: 1.5rem !important;
}

.bold-title {
    color: $neutrals-B600 !important;
    font-size: 0.75rem !important;
    font-weight: 600;
    line-height: 1.5rem !important;
}


.issue-comment-notification-card-body {
    display: flex;
    flex-direction: column;
    border: 1px solid $neutrals-B40;
    border-radius: 8px;
    padding: 15px;
    font-size: 14px;
    background-color: $white-color;
    height: auto !important;
    width: 100% !important;
    justify-content: space-between !important;
    overflow: auto;
}

.add-resolution-comment-editor {
    margin: 0px -16px -16px -16px;
    background-color: transparent !important;

    .texteditor-container {
        border-radius: 0px 0px 8px 8px !important;
    }

    .texteditor-area {
        background-color: transparent !important;
    }

    .toolbar-container {
        overflow: auto !important;
    }
}


.notification-icon-type-notification {
    border: 0.9px solid $secondary-blue-100-color;
    background: $feedback-colors-informational-bg;
}


.notification-icon-type-warning {
    background-color: $feedback-color-yellow-error-bg !important;
    border: 2px solid $secondary-yellow-100-color !important;
}

.notification-icon-type-alert {
    background-color: $feedback-color-coral-error-bg;
    border: 2px solid $secondary-coral-100-color !important;
}

// --
.notification-card-notification-icon {
    color: $notification-icon-color !important;
}


.notification-card-warning-icon {
    color: $warning-icon-color !important;
}

.notification-card-alert-icon {
    color: $alert-icon-color !important;
}


.application-notification-card-body-jsx {
    display: flex;
    flex-direction: column;
}

.application-notification-view-app-button {
    width: 152px;
    height: 32px;
    border: 1px solid $neutrals-B60;
    border-radius: 16px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    align-self: flex-end;
    background-color: $white-color;
}

.application-notification-view-app-button-text {
    color: $neutrals-B600 !important;
    font-size: 0.75rem !important;
    font-weight: 400;
    line-height: 1.25rem ;
}

.feedback-content-form-textarea {
    font-size: 14px;
    border-radius: 4px;
    resize: none !important;
        height: 150px !important;
        border: 1px solid $neutrals-B40;
    
        &:hover {
            border: 1px solid $secondary-blue-200-color !important;
        }
    
        &:active {
            border: 1px solid $secondary-blue-200-color !important;
        }
    
        &:focus {
            border: 1px solid $secondary-blue-200-color !important;
        }
    }

#notifications-bell-icon-flyout {
    .flyout-header {
        margin-top: 0px !important;
        border-bottom: none !important
    }

    .tab-container {
        border-bottom: 2px solid $neutrals-B40 !important
    }
}

div#todo-fly-out {
    .flyout-header {
        border-bottom: 0.063rem solid #dedede !important
    }
}

.issue-overdue-container {
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
    width: 100%;
}

.overdue-action-container {
    display: flex;
    flex-direction: row !important;
    padding: 0.5rem;
    justify-content: space-between;
    border-radius: 8px;
    border: 2px solid $neutrals-B30;
}

.overdue-action-item {
    width: 80% !important;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.overdue-action-status {
    width: 20% !important;
}

.overdue-action-issueid {
    font-family: 'kenvue-Sans',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: $neutrals-B200;
}

.overdue-action-title {
    font-family: 'kenvue-Sans',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: $neutrals-B800;
}

.overdue-action-subtitle {
    display: flex;
    flex-direction: row !important;
    font-family: 'kenvue-Sans',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: $neutrals-B200;
    width: 100%;
}

.overdue-action-subtitle-assigned-to {
    width: 60%;
}


.overdue-action-subtitle-duedate {
    width: 40%;
}

.overdue-status {
    width: 59;
    height: 2.8em;
    opacity: 1;
    border-radius: 20px;
    border-width: 1.5px;
    border-style: dashed;
    padding: 5px;
    border-color: $dash-border-color;
    background-color: $feedback-background-color;
    color: $alert-icon-color;
    font-family: 'kenvue-Sans',sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;

}

.geography-custom-dropdown{
    transform: translateX(-180px) !important;
}

//Noti rule - trigger freq
.noti-rule-trigger-freq.ant-select {
    min-width: 50% !important;    
    max-width: 50px !important;

    .ant-select-selector {    
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;        

        &:hover {
            border-color: $secondary-blue-300-color !important;
            border-top: 1px solid $secondary-blue-300-color !important;

        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
        border-top: 1px solid $secondary-blue-300-color !important;

    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
        max-height: 20.5rem;
        overflow-y: auto;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }
}


.noti-rule-trigger-freq-cat.ant-select {
    min-width: 50%;
    max-width: 50%;

    .ant-select-selector {
        border-top-left-radius: 0px !important;       
        border-bottom-left-radius: 0px !important;
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;        

        &:hover {
            border-color: $secondary-blue-300-color !important;
            border-top: 1px solid $secondary-blue-300-color !important;

        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
        border-top: 1px solid $secondary-blue-300-color !important;

    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;        
        overflow-y: auto;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }
}


.noti-rule-trigger-starting.ant-select {
    min-width: 100%;
    max-width: 100%;

    .ant-select-selector {        
        transition: all 0.3s;
        font-family: 'kenvue-Sans',sans-serif;        

        &:hover {
            border-color: $secondary-blue-300-color !important;
            border-top: 1px solid $secondary-blue-300-color !important;

        }

    }

    &.ant-select-focused .ant-select-selector {
        border-color: $secondary-blue-300-color !important;
        box-shadow: none !important;
        border-top: 1px solid $secondary-blue-300-color !important;

    }

    .ant-select-dropdown {
        border-radius: 8px;
        font-family: 'kenvue-Sans',sans-serif;
        font-size: 0.8rem;
        max-height: 6.5rem;
        overflow-y: auto;
    }

    .ant-select-item-option-active {
        background-color: $primary-green-50-color;
        font-weight: 500;
    }

    .ant-select-item-option-selected {
        background-color: $primary-green-50-color;
        color: $neutrals-B600 !important;
        font-weight: 500;

    }

    .ant-select-arrow {
        color: $neutrals-B600 !important;
    }
}