@import '../../../assets/css/colors.scss';

.inline-alert-success,
.inline-alert-error {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    width: 100%;
    align-self: stretch;

    padding: 12px 16px;
    border-radius: 6px;
}

.inline-alert-success {
    background-color: #f0faef;
    border: 1px solid $feedback-success-color;
}

.inline-alert-error {
    background-color: #fff1f0;
    border: 1px solid red;
}

.inline-alert-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inline-alert-title {
    font-size: 14px;
    font-weight: 600;
    color: $neutrals-B800;
}

.inline-alert-description {
    font-size: 13px;
    color: $neutrals-B600;
}
