@import '../../assets/css/colors.scss';
@import '../../assets/css/fonts.scss';

.app-management-title {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border-bottom: 0.0625rem solid $neutrals-B30;
    box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.06);
    background-image: url('../../assets/images/app-management-title-bg.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: $white-color;
}

.app-management-description {
    color: $neutrals-B200;
}

.app-management-heading{
    font-size: $font-size-24;
}

.header-back-button {
    align-self: flex-start;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
}