@import '../../../../assets/css/colors.scss';
@import '../../../../assets/css/fonts.scss';

.container {
    border: 2px dashed #cfd8dc;
    padding: 12px;
    border-radius: 8px;
    min-height: 60px;
    position: relative;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.chipContainer {
    border: 0.0625rem dashed $primary-green-200-color;
    border-radius: 0.375rem;
    padding: 0.625rem;
    min-height: 3.25rem;
    flex-direction: column;
    display: flex;
    gap: 0.375rem;
    background: $background-color-light-green !important;
    color: $neutrals-B500;
}

.placeholder {
    color: #2e7d6b;
    font-size: 14px;
}

.active {
    border-color: #2e7d6b;
    background-color: #f3fbf8;
}

.invalid {
    border-color: red;
    background-color: #fff5f5;
}

.chip {
    border: 1px solid #2e7d6b;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 6px;
    display: inline-block;
}

.tooltip {
    top: 0px;
    left: 10px;
    background: #333;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
}

.insertLine {
    height: 2px;
    background: #2e7d6b;
    margin: 4px 0;
}

.addField {
    display: flex;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    border: none;
    color: $primary-green-color;
    font-size: 0.875rem;
    padding-top: 8px;

    &:hover {
        text-decoration: underline;
    }
}